<%include partials/header.ejs%>
    <h1>Hello from ejs <%=title%></h1>
    <ul><% users.forEach(function(user){%>
           <li> <%=user.id%> </li>
           <li> <%=user.first_name%> </li>
           <li> <%=user.last_name%></li>
           <li> <%=user.email%> </li>
       <%});%>
    </ul>
<%include partials/footer.ejs%>
